.naming{
    color: white;
    padding-top: 8rem;
}
.bg-img{
    background: url(/images/header.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 60vh;
    margin-bottom: 20px;
    
}
.gradiented{
    background-color: #383838;
    color: white;
}
footer{
    margin-top: 15px;
}